<h3>Adicionar Curso</h3>
<form action="/cursos/add" method="post">
    <div class="form-group">
        <label for="nome">Cursos</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Informe o curso">
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>