<div class="footer-images text-center my-3">
  <img src="/img/chapeu-de-bruxa.png" alt="Chapéu de Bruxa" style="width:48px; height:48px; margin:0 10px;">
  <img src="/img/televisao.png" alt="Televisão" style="width:48px; height:48px; margin:0 10px;">
</div>