<footer class="bg-dark text-white text-center py-3 mt-5">
  <p>&copy; 2025 Todos os direitos reservados.</p>
  <div>
    <a href="https://facebook.com" target="_blank" class="text-white mx-2">
      <i class="fi fi-brands-facebook"></i>
    </a>
    <a href="https://twitter.com" target="_blank" class="text-white mx-2">
      <i class="fi fi-brands-twitter"></i>
    </a>
    <a href="https://instagram.com" target="_blank" class="text-white mx-2">
      <i class="fi fi-brands-instagram"></i>
    </a>
  </div>
</footer>

<!-- Flaticon Uicons -->
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">