<h3>Editar alunos</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Alunos</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Informe o aluno">
        <button type="submit" class="btn btn-success">Editar</button>
    </div>
</form>